Options -Indexes
<IfModule mod_headers.c>
	Header Always set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	Header Always set Pragma "no-cache"
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^index.php - [QSA,L]
	RewriteRule ^protected.php - [QSA,L]
	RewriteRule ^(.*)$ ./protected.php [QSA,L]
</IfModule>